.backImg {
    background-image: url(./img/startPhoto1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 100vh;
    min-width: 100vw; 
}

.wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.wrapСhild {
    display: flex;
  }



